<!--The content below is only a placeholder and can be replaced.-->
<ActionBar [title]="'app.title' | translate"></ActionBar>
<StackLayout class="p-20">
  <Label
    text="Welcome to the app!"
    class="h1 text-center"
    textWrap="true"
  ></Label>
  <Label [text]="myAppText" class="h1 text-center" textWrap="true"></Label>
  <Button text="Show hide" (tap)="showHideActionBar()"></Button>

  <StackLayout *ngFor="let item of (items$ | async)">
    <Label [text]="item.title" textWrap="true"></Label>
  </StackLayout>
</StackLayout>
